
p {
  font-family: 'Crimson Text', serif;
}

h4 {
  color: #292828;
}
.transition {
  position: relative;
  flex-grow: 1;
}

.transition > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}




/* INTRO CONTAINER STYLING */


.text {
  padding: 2rem;
  margin: 0 auto;
  width: 70%;
}
.text h3 {
  text-align: center;
  margin-bottom: 2rem;
}
a.back {
  display: flex;
  justify-content: center;
  color: white;
  transition: 0.5s;
}
a.back:hover {
  color:  #a24545;
  text-shadow: 2px 2px #292828;
}


/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

